<div class="hidden-xs hidden-sm col-md-3">
  <div id="ceramique-filters-content">
  <h2><%= t(:filter).upcase %></h2>
  <form action="/<%=ENV['MODEL']%>" method='get'>
    <div class="form-body">
    <input type="search" id="aa-search-input" class="aa-input-search aa-input-mobile" placeholder="<%=t(:search_place_holder)%>" name="search" autocomplete="off" />
      <div class="filter-category">
        <h3><%= t 'activerecord.models.category', count: @uniq_categories.size %></h3>
        <ul>
          <% @uniq_categories.each do |category| %>
            <li><label class="label-search"><input type="checkbox" name="categories[]" value="<%= category %>"><%= category.capitalize %></label></li>
          <% end %>
        </ul>
        <h3><%= t 'activerecord.models.product_theme', count: @uniq_themes.size %></h3>
        <ul>
          <% @uniq_themes.each do |theme| %>
            <li><label class="label-search"><input type="checkbox" name="themes[]" value="<%= theme %>"><%= theme.capitalize %></label></li>
          <% end %>
        </ul>
        <h3><%=t(:max_price)%></h3>
        <section class="range-slider">
          <span class="rangeValues"></span>
          <% max = (Ceramique.maximum(:price_cents) || 0)/ 100 %>
          <% min = (Ceramique.minimum(:price_cents) || 0)/ 100 %>
          <input name="prix_min" value="<%= min %>" min="<%= min %>" max="<%= max %>" step="1" type="range">
          <input name="prix_max" value="<%= max %>" min="<%= min %>" max="<%= max %>" step="1" type="range">
        </section>
      </div>
      <% if  params[:categories].present? || params[:prix_max].present? || params[:offer].present? || params[:search].present?%>
        <label class="label-search all"><input type="checkbox" name="all[]" value="all">Tout afficher</label>
      <% end %>
    </div>
    <div class="mobile-submit">
      <input type="hidden" name="locale" value="<%= I18n.locale%>">
      <input type="submit" id="recherche" class="btn btn-primary recherche" value="<%=t(:display)%>">
    </div>
  </form>
  </div>
</div>
