<!-- LAPTOP -->
  <div id="footer-lighttheme">
    <div class="footer-top-section">
      <%= render 'shared/subscribe' %>
    </div>
    <div class="footer-middle-section">
      <div class="footer-middle-box">
        <h4><%=t(:secured_payments)%></h4>
        <div class="cards">
           <%= image_tag "mastercard.svg", class: "mastercard"%> <%= image_tag "visa.svg", class: "visa"%> <%= image_tag "american-express.svg", class: "american-express"%> <%= image_tag "paypal.svg", class: "paypal-logo"%>
        </div>
      </div>
      <div class="footer-middle-box">
        <h4><%=t(:shipping)%></h4>
        <span><%= image_tag "cube-colissimo.png", class: "colissimo"%> Colissimo</span>
        <p><%= t(:int_shipping)%></p>
      </div>
      <div class="footer-middle-box">
        <h4><%= t(:customer_service)%></h4>
        <p class="last-box-first-p hidden-xs hidden-sm"><%=t(:customer_service_hours)%></p>
        <p class="last-box-first-p hidden-md hidden-lg"><%=t(:customer_service_hours_mobile_1)%></p>
        <p class="last-box-first-p hidden-md hidden-lg"><%=t(:customer_service_hours_mobile_2)%></p>
      </div>
    </div>
    <div class="footer-bottom-section">
      <div class="contact">
        <div class="connect">
          <h3>
            <%= link_to contact_path do%>
              <%=t(:contact)%>
            <% end %>
          </h3>
        </div>
        <div class="connect">
          <h3>
            <%= link_to info_path do%>
              <%=t(:info_link)%>
            <% end %>
          </h3>
        </div>
        <div class="connect">
          <h3>
            <%= link_to cgv_path do%>
              <%=t(:cgv_short)%>
            <% end %>
          </h3>
        </div>
        <div class="connect">
          <h3>
            <%= link_to legal_path do%>
              <%=t(:data)%>
            <% end %>
          </h3>
        </div>
        <div class="connect">
          <div class="hidden-xs hidden-sm hidden-md">
            <% if user_signed_in? %>
              <% if current_user.admin %>
                <h3>
                   <%= link_to admin_root_path, class: "admin-link" do %>
                    Administration
                   <% end %>
                </h3>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <%= link_to @dev_redirection || session[:dev_redirection_default], title: "Créez votre boutique en ligne avec l'agence de Guillaume Crouillere", class: "link-guillaume" do %>
        <%= image_tag  'legolight.svg', alt: "Guillaume Crouillere - Developpeur WEB indépendant"%>
      <% end %>
    </div>
  </div>
