<div class="navbar-laptop-lighttheme nav-mobile">
<!-- Language - Contact - Sign-in - Cart -->
  <div class="nav-top-section">
    <div class="nav-top-left">
      <%= render 'shared/social_nav_footer' %>
    </div>
    <div class="nav-top-right">
      <div class="languages">
        <%= link_to "#{ENV['ENG_URL']}#{request.env['PATH_INFO']}" do %>
          <%= image_tag "EN.svg", class: "first-flag flag"%>
        <% end %>
        <%= link_to "#{ENV['FR_URL']}#{request.env['PATH_INFO']}" do %>
          <%= image_tag "FR.svg", class: "flag"%>
        <% end %>
      </div>
      <% if user_signed_in? %>
        <div class="icone-bloc top-section-item laptop-item hidden-xs hidden-sm">
        <%= link_to destroy_user_session_path, class: "top-nav-link", method: :delete do %>
          <i class="fa fa-sign-out-alt"></i>
          <span class="info-text info-text-3 "><%=t(:unconnect).upcase%></span>
        <% end %>
        </div>
      <% else %>
        <div class="icone-bloc top-section-item laptop-item hidden-xs hidden-sm">
          <%= link_to new_user_session_path, title: "Accès à votre compte", class: "navbar-item navbar-link top-nav-link" do %>
            <i class="fa fa-sign-in-alt"></i>
            <span class="info-text info-text-3"><%=t(:connect).upcase%></span>
          <% end %>
        </div>
      <% end %>
      <% if session[:order].present? %>
        <% if Order.where(id: session[:order]).present? %>
          <% if Order.where(id: session[:order]).first.state != "lost" %>
            <%= link_to order_path(Order.find(session[:order])), class: "top-section-item top-nav-link" do %>
              <span><%= image_tag "whitecart.svg", class: "lightcart"%></span>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <!-- Logo LAPTOP -->
  <div class="navbar-logo hidden-xs">
    <%= render 'shared/logo_pic' %>
    <div class="nav-bar-list">
      <div class="shop-dropdown shop-dropdown-laptop hidden-xs hidden-sm">
        <%= link_to ceramiques_path, class: "nav-link nav-link-no-hover link-with-bars" do %>
          <span ><%=t(:shop_link).upcase%></span>
        <% end %>
      </div>
      <div class="shop-dropdown shop-dropdown-tablet hidden-xs hidden-md hidden-lg">
        <div class="nav-link nav-link-no-hover link-with-bars">
          <span ><%=t(:shop_link).upcase%></span>
        </div>
      </div>
      <%= link_to about_path, class: "nav-link" do %>
        <span><%= t(:about)%></span>
      <% end %>
    </div>
    <div class="centered-logo">
      <%= link_to root_path do  %>
        <%= @logositepictag %>
      <% end %>
    </div>
    <div class="nav-bar-list">
      <%= link_to articles_path, class: "nav-link third-link" do %>
        <span><%= t(:blog_link).upcase%></span>
      <% end %>
      <a href="#" class="nav-link" id="lighttheme-filter-search">
        <span class=""><%= image_tag "search.svg", class: "searchimg"%></span>
      </a>
    </div>
  </div>

  <!-- MOBILE -->
  <div class="mobile-nav hidden-sm hidden-md hidden-lg ">
    <div class="centered-logo-mobile ">
      <%= link_to root_path do  %>
        <%= @logositepictag %>
      <% end %>
    </div>
    <div class="menus">
      <div class="nav-bar-list">
        <div class="shop-dropdown">
          <div class="nav-link nav-link-no-hover link-with-bars">
            <span ><%=t(:shop_link).upcase%></span>
          </div>
        </div>
        <%= link_to about_path, class: "nav-link" do %>
          <span><%= t(:about)%></span>
        <% end %>
      </div>
      <div class="nav-bar-list">
        <%= link_to articles_path, class: "nav-link link-with-bars" do %>
          <span><%= t(:blog_link).upcase%></span>
        <% end %>
        <a href="#" class="nav-link" id="lighttheme-filter-search-mobile">
          <span class=""><%= image_tag "search.svg", class: "searchimg"%></span>
        </a>
      </div>
    </div>
  </div>
</div>


