<%= render 'shared/home_pics' %>

<% content_for(:description) do %>
  <%=t(:home_description)%>
<% end %>
<% content_for(:title_tag) do %>
  <%=t(:home_title)%>
<% end %>
<% content_for(:meta_image) do %>
  <%= @homepicpath %>
<% end %>


<%= render 'shared/home_right_pics' %>
<%= render 'shared/lighttheme_photo_loading_homepage'%>

  <div class="homeimagescontainer">
    <%= photo_update('productphoto', 30, '', '', 30, '.homepic', "Mise à jour photo d'accueil")%>
    <%= photo_update('productphotomobile', 30, '', '', 395, '.homepicmobile', "Mise à jour photo  d'accueil version mobile")%>
    <%= photo_update('logophoto', 30, '', '', 785, '.logopic', "Mise à jour logo")%>
    <%= photo_update('promophoto', 300, '', '', 30, '.promophoto', "Mise à jour photo promotion")%>
    <div class="imagehomeleft">
      <%= cl_image_tag @homepicpath, class: "hidden-xs front-image" %>
      <%= cl_image_tag @homepicpathmobile, class: "hidden-sm hidden-md hidden-lg front-image" %>
    </div>
    <% if @promophoto %>
      <div class="promo-frame">
        <span class="latest-products"><%= t(:latest_offer)%></span>
        <%= link_to ceramiques_path(offer: true) do %>
          <%= cl_image_tag @promophoto %>
        <% end %>
      </div>
    <% end %>
    <div class="ceramiques-in-home">
      <span class="latest-products"><%= t(:latest_products)%></span>
      <%= render  'shared/ceramique_cards_lighttheme_homepage'%>
    </div>
  </div>

<%= render 'shared/subscribe' %>
<%= render 'shared/schema_org_jsons/home_page_json' %>
