<% content_for(:title_tag) do %>
  <%= t(:index_title)%>
<% end %>
<% content_for(:description) do %>
  <%= t(:index_description)%>
<% end %>

<%= render 'shared/lighttheme_photo_loading'%>

<% if  @ceramiques.present? %>
  <%= render  'shared/ceramique_cards_lighttheme'%>
<% else %>
  <div class="container-lighttheme">
    <div class="row">
      <div class="col-xs-12 no-ceramique-list">
        <div class="no-ceramique">
          <p><%=t(:no_product)%></p>
          <%= link_to t(:all_products), ceramiques_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% content_for(:after_js) do %>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": "Sunsuelle",
    "image": <%= raw @ceramiques.map {|ceramique| cl_image_path ceramique.photos[0].path}.to_json %>,
    "brand": {
      "@type": "Thing",
      "name": "<%= t(:name, name:"#{ENV['LASTNAME'].capitalize}")%>"
    },
    "offers": {
      "@type": "AggregateOffer",
      "lowPrice": "<%= humanized_money((@ceramiques.minimum(:price_cents) || 0) / 100) %>",
      "highPrice": "<%= humanized_money((@ceramiques.maximum(:price_cents) || 0) / 100) %>",
      "priceCurrency": "EUR"
    }
  }
  </script>
<% end %>
