<% content_for(:title_tag) do %>
  <%= t(:index_title)%>
<% end %>
<% content_for(:description) do %>
  <%= t(:index_description)%>
<% end %>

<%= render 'shared/lighttheme_photo_loading'%>

<div class="container-lighttheme">
  <div class="row">
    <%= render 'shared/default_filter' %>
    <%= render  'shared/ceramique_cards_lighttheme'%>
  </div>
</div>

<%= render 'shared/schema_org_jsons/ceramiques_index_json' %>
